.navLink {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 3px;
}

.navLink::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: gray;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navLink:hover::after {
  transform: scaleX(1);
}
